{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
{#<section class="content-header">#}
{##}
{#    <div class="content-title">#}
{#        <h3>Collections income</h3>#}
{#        <i class="active">Last Update Today, 12:30 PM</i>#}
{#    </div>#}
{#</section>#}
{#<section class="content connectedSortable">#}
{#    <div class="row content-main">#}
{#        <div class="col-8 col-md-8 card">#}
{#            <div class="card-body">#}
{#                <div class="row">#}
{#                     <div class="col-md-3">#}
{#                         <img src="{{url_for('static',filename='img/wallet.png')}}">#}
{#                     </div>#}
{#                    <div class="col-md-3 ml-auto">#}
{#                        <span>#}
{#                            <img class="mr-2" src="{{url_for('static',filename='img/up.png')}}">#}
{#                            <a>$440,46.12 Today</a>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="wallet row">#}
{#                    <div class="col-md-4">#}
{#                        <h4>$465,56.12</h4>#}
{#                        <p>My Balance</p>#}
{#                    </div>#}
{#                    <div class="col-md-2 ml-auto">#}
{#                        <button class="btn form-control" >Withdraw</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-3 col-md-3 card">#}
{#            <div class="card-body">#}
{#              <div>#}
{#                    <h4>$465,56.12</h4>#}
{#                    <p>My Balance</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="content connectedSortable">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <!-- Left col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white"  href="/order" >
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <div class="inner">
                    <h4>{{ total_orders }}</h4>
                    <p>Total Orders</p>
                </div>

            </a>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white" href="/userapp">
                <div class="inner">
                    <h4>{{ total_users }}</h4>

                    <p>Total users</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white"  href="/mintednfts" >
                <div class="inner">
                    <h4>{{ total_nfts }}</h4>

                    <p>Total NFT</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="content connectedSortable">

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white" href="/collection">
                <div class="inner">
                    <h4>{{ total_collection }}</h4>

                    <p>Total Collection</p>
                </div>
                <div class="icon">
                    <i class="ion ion-folder"></i>
                </div>
            </a>
        </div>
        <!-- ./col total sold-->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white" href="/nftsstatistic">
                <div class="inner">
                    <h4>{{ total_nfts_sold }} USD</h4>

                    <p>Total NFT Sold</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
            </a>
        </div>

        <!-- ./col total sold by nft type-->
        {% for item in total_nfts_sold_by_nft_type%}
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a class="small-box bg-white" href="/nftsstatistic">
                <div class="inner">
                    <h4>{{ total_nfts_sold_by_nft_type[item] }} USD</h4>

                    <p>Total NFT Type {{item}} Sold</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</section>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
{% endif %}

{% endblock body %}
