{% extends 'admin/model/details.html' %}
{% import 'form/models/abi.html' as abi_lib with context %}
{% import 'form/models/lib.html' as model_lib with context %}
{% import 'flask-admin/adminlte/forms.html' as forms with context %}


{% block body %}

    <section class="content-header">
        <h1>{{ admin_view.name }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        {% set modal_name = 'View' + ' #' + request.args.get('id') %}
                        {{ forms.form_header(modal_name, 'fa fa-eye', is_modal=False) }}
                        {% block details_search %}
                            {{ forms.form_search() }}
                        {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block details_table %}
                            {{ forms.form_view(details_columns) }}
                        {% endblock %}
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            {% if return_url %}
                                <a href="{{ return_url }}" class="btn btn-default" role="button" data-dismiss="modal">
                                    <i class="fa fa-chevron-circle-left"></i> {{ _gettext('Back') }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="pull-right">
                            {%- if admin_view.can_edit -%}
                                <a class="btn btn-warning"
                                   href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}"
                                   title="{{ _gettext('Edit') }}">{{ _gettext('Edit') }}</a>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#    {{ abi_lib.connect_wallet_btn() }}#}
    {% if not model.deployed %}
    <div class="card d-flex align-items-center justify-content-center p-3">
        <button id="deploy_nft" data-object='{{ model | tojson(0)}}' style="max-width: 200px !important;"
                class="btn btn-success m-2">
            Deploy </button>
    </div>

    {% endif %}
    {% if model.deployed and model.is_box %}
    <div class="card d-flex align-items-center justify-content-center flex-row p-3">
        <button id="change_box_to_nft" data-object='{{ model | tojson(0)}}' style="max-width: 200px !important;" class="btn btn-success m-2">
            Change Box To NFT
        </button>
        <button id="change_nft_to_box" data-object='{{ model | tojson(0)}}' style="max-width: 200px !important;" class="btn btn-primary m-2">
            Change NFT To Box
        </button>
    </div>
    {% endif %}
{% endblock %}

{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
    {% include 'form/models/factory/abi.html' %}

{% endblock %}






