{% include "security/_messages.html" %}
{% import 'flask-admin/static.html' as adminlte_static with context %}
{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}

{% macro render_field_with_errors(field, icon) %}
      <div class="input-group mb-3">
              {{ field(**kwargs)|safe }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-{{ icon }}"></span>
              </div>
            </div>
      </div>

      {% if field.errors %}
      <div class="block">
            <ul>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
      </div>

  {% endif %}
{% endmacro %}

<!--</section>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel | Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ adminlte_static.url('/plugins/fontawesome-free/css/all.min.css') }}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{{ adminlte_static.url('/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ adminlte_static.url('/dist/css/adminlte.min.css') }}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
     <b>Admin Panel</b>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        <div class="input-group mb-3">
          {{ login_user_form.hidden_tag() }}
        </div>
          {{ render_field_with_errors(login_user_form.email, type="email" ,class="form-control", placeholder="Email", icon="envelope") }}
          {{ render_field_with_errors(login_user_form.password,  type="password", class="form-control", placeholder="Password", icon="lock") }}
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            {{ render_field(login_user_form.submit, class="btn btn-primary btn-block") }}
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{{ adminlte_static.url('/plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ adminlte_static.url('/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ adminlte_static.url('/dist/js/adminlte.min.js') }}"></script>
</body>
</html>

